* {
    
    text-align: center;
    font-family: "Mochiy Pop One";
}


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 100svh;
    overflow: hidden;
    background-color: #4158D0;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    

    ;
}

h1 {
    font-size: 2rem;
}

/* #todoContainer {
    display: flex;
    justify-content: center;
    text-align: 'center';
} */

ul {
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
}

.liBtn {
  display: flex;
  margin-top: 1rem;
  flex: 1 100%;

}

li {
    list-style-type: none;
    margin-left: -2rem;
    line-height: 2rem;
    flex-grow: 1;

}

ul button {
    background-color: #E95965;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 5rem;
    border: none;
      font-weight: 500;
      font-size: 1rem;
      color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    
}


.crossed{
    text-decoration: line-through;
}



#formContainer {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

input {
    border: 0;
    padding: 5px 4px;
    margin: 8px;
    background: #fff;
    font-size: 1rem;
    width: 240px;
    border-radius: 0;
    outline: 0;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
  }

form button {
 
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    margin-top: 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(
      --pure-material-font,
      'Roboto',
      'Segoe UI',
      BlinkMacSystemFont,
      system-ui,
      -apple-system
    );
    font-size: 1rem;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
  }

  button:hover {
    filter: brightness(110%);
  }